@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
  }
  
.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 9999;

    .left-section {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .right-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 80px;

        a {
            text-decoration: none;
            font-family: Inter, Helvetica, sans-serif;
            font-weight: 400;
            letter-spacing: -0.5px;
            padding: 16px;
        }
        a {
            position: relative;
          }
          
          a::before {
              content: '';
              position: absolute;
              width: 100%;
              height: 2px;
              border-radius: 2px;
              background-color: #18272F;
              bottom: 0;
              left: 0;
              transform-origin: right;
              transform: scaleX(0);
              transition: transform .3s ease-in-out;
            }
          
          a:hover::before {
            transform-origin: left;
            transform: scaleX(1);
          }
    }

}

.logo-nav {
    max-height: 50px;
    width: auto;
    margin: 24px
}

.dynamic-text {
    margin-left: 12rem;
    font-family: Inter, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: -0.5px;
}

.logo-img-nav {
    object-fit: contain;
    max-height: 100%;
    height: 50px;
    width: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
    font-family: Inter, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: -0.5px;
  }
  
  li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }


.sections-nav {
    display: flex;
    flex-direction: row;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .dynamic-text {
        display: none;
    }
    li a {
        padding: 8px;
      }
      .right-section {
        margin-right: 16px;
      }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .dynamic-text {
        display: none;
    }
    li a {
        padding: 8px;
      }
    .right-section {
        margin-right: 16px;
      }
}