<section class="wrapper style1 align-center">
    <div class="inner">
        <div class="index align-left">
        <!-- Form -->
        <section id="contact-form">
            <header>
                <h3>Contact</h3>
            </header>
            <div class="content">
                
                <form action="https://formspree.io/f/mgebggld"
                method="POST">
                    <div class="fields">
                        <div class="field half">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" value="" />
                        </div>
                        <div class="field half">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" value="" />
                        </div>
                        <div class="field">
                            <label for="department">Department</label>
                            <select name="department" id="department">
                                <option value="">- Category -</option>
                                <option value="1">UI Design</option>
                                <option value="2">Product Design</option>
                                <option value="3">Branding</option>
                                <option value="4">Other</option>
                            </select>
                        </div>
                        
                        <div class="field">
                            <label for="message">Message</label>
                            <textarea name="message" id="message" rows="6"></textarea>
                        </div>
                        <div class="field half">
                            <input type="checkbox" id="human" name="human" />
                            <label for="human">I am a human and not a robot</label>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" name="submit" id="submit" value="Send Message" /></li>
                    </ul>
                </form>
                
            </div>
        </section>
    </div>
    </div>
    </section>