				<!-- Additional Elements -->
                <section class="wrapper style1 align-left">
                    <div class="inner">
                        <h2>About me</h2>
                        <p>I'm a passionate Product Designer with expertise in <span>UI, Branding, and Web Design</span>. I've got a keen eye for detail and a deep understanding of design principles. I strive to craft digital solutions that not only look visually appealing but also deliver great functionality.</p>
                        <p>As a Product Designer, I've mostly worked on designing <span>UI for e-commerce sites, B2B and institutional websites, as well as developing Design Systems.</span> As a freelancer, I've designed UI for an Insurance Broker App and an Event Staffing Platform, in addition to my Branding work.</p>
                        <p>I have a knack for front-end coding, occasionally tackling a little project on the side. This enables me to bridge the gap between design and development teams effectively. <span>I have worked with teams in Argentina, Mexico, and the United States.</span> Beyond design, I love a good book, and I'm an avid sports enthusiast, with a particular love for football and surfing. Additionally, I have a unique hobby—I'm a <a href="https://www.instagram.com/azeria.ttt/?hl=es">Tattoo Artist</a>. The art of tattooing allows me to channel my creativity in a different medium, exploring the fusion of art and personal expression.</p>
                        <p><i>Currently reading: Hooked (Nir Eyal); Never Split the Difference (Chris Voss)</i></p>
                        {{/*  <div class="index align-left">

                            <!-- Images -->
                                <section>
                                    <div class="content">

                                        <span class="image fit"><img src="images/highlight.webp" loading="lazy" alt="workshop" /></span>
                                        <p class="epigraph"><i>Leading a workshop on Discovery Process</i></p>
                                    </div>
                                </section>

                        </div>  */}}


                    </div>
                </section>
