<!-- nav.html (partial) -->

<nav class="nav-bar">
    <div class="left-section"> 
        <div class="logo-nav">
            <a href="https://www.poa.ar/">
                <img src="/images/SVG/logo.svg" alt="Logo" class="logo-img-nav">
            </a>
        </div>
        <div class="dynamic-text">
            <span>Booking freelance projects from mid July 2023</span>
        </div>
    </div>
    <div class="right-section">
        <ul class="sections-nav">
            <li class="section">
                <a href="/aboutme">About Me</a>
            </li>
            <li class="section">
                <a href="#first">Work</a>
            </li>
            <li class="section">
                <a href="#contact-form">Contact</a>
            </li>
            <!-- Add more list items for additional sections as needed -->
        </ul>
    </div>
  </nav>
  